---
import Layout from "../layouts/Layout.astro";
---



    <!-- modify this form HTML and place wherever you want your form -->
<form class="w-[350px] bg-gray-400 flex flex-col justify-center items-center"
action="https://formspree.io/f/mzzpragd"
method="POST"
>
<label>
  Your email:
  <input type="email" name="email">
</label>
<label>
  Your message:
  <textarea name="message"></textarea>
</label>
<!-- your other form fields go here -->
<button class="py-3 bg-indigo-500 px-5 text-white" type="submit">Send</button>
</form> 
